@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">
<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="about.html">Giới thiệu</a></li>

                </ul>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Giới thiệu</h2>
            <p>
                Thương hiệu QLT (thuộc CTY TNHH Đầu Tư và Thương Mại Minh Gia Phú) mang đến một phong cách thời trang năng động, cá tính dành cho giới trẻ.
            </p>
            <p>
                Xuất hiện trên thị trường từ năm 2017 , hiện nay PAPKA đã có gần 100 gian hàng tại các hệ thống siêu thị EMART, AEON MALL, GO! BIGC, WINMART, CO.OPMART, CO.OPXTRA, SENSE CITY, LOTTE MART, MEGA MARTKET,....trải dài khắp cả nước... Những sản phẩm của PAPKA mang tính tiện ích cao, cơ bản và năng động, với các dòng sản phẩm thời trang Nam/Nữ như: Áo polo, Jeans Denim, Kaki cotton, T-shirt, Sơ mi, Đầm, Váy, Yếm…

            </p>
            <p>
                Tiêu chí của PAPKA luôn mong muốn đưa những sản phẩm của mình đến người tiêu dùng với những mẫu mã, chất liệu độc đáo, mới lạ được cập nhật thường xuyên với giá cả tốt nhất trong một không gian mua sắm thoải mái, sang trọng cùng với dịch vụ chăm sóc khách hàng hoàn hảo nhất.
            </p>
            <p>
                PAPKA mong muốn xây dựng một thương hiệu thời trang lớn mạnh trong nước phục vụ cho mọi độ tuổi và cá tính của người Việt.
            </p>
            <p>
                Mọi chi tiết xin vui lòng liên hệ Bộ Phận Chăm Sóc Khách Hàng:
            </p>
            <p>
                Hotline: 0344 002 108
            </p>
            <p>
                Email: tung2982004@gmail.com
            </p>
            <p>
                Website: www.qltshop.com
            </p>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/contact_custom.js"></script>
}
