@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    176 Trần Xuân Lê<br />
    Thanh Khê, Đà Nẵng<br />
    <abbr title="Phone">Số điện thoại:</abbr>
    0344002108
</address>

<address>
    <strong>Bộ phận hỗ trợ:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Bộ phận marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>