
@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>




    #landing {
        background: #fff;
        background-image: url('../Content/clients/dist/img/adminPage.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 80vh; /* Đảm bảo rằng phần tử có chiều cao đủ để hiển thị ảnh */
        width: 100%; /* Đảm bảo rằng phần tử có chiều rộng đủ để hiển thị ảnh */
        position: relative; /* Để các phần tử con được định vị chính xác */
    }

</style>
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>PBL3</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->


        <!--Landing Area-->
        <div id="landing">
            <div id="landing-image"></div>
        </div>


   

